[Unit]
Description=Set random wallpaper with waypaper
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/waypaper --random
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target
