!.config
.config/waybar/style.css
.config/doom/config.el
.config/doom/custom.el
.config/fuzzel/fuzzel.ini
.config/kitty/themes/kitty-colors.conf
/.config/kitty/kitty.conf.bak
.config/emacs-vanilla/*
!.config/emacs-vanilla/config.org
!.config/emacs-vanilla/init.el
!.config/emacs-vanilla/early-init.el
!.config/emacs-vanilla/themes
!.config/emacs-vanilla/lisp
/.config/emacs-vanilla/lisp/*.el
/.config/emacs-vanilla/lisp/*.elc
