/* ---------- Global ---------- */
* {
  margin: 2px 2px 2px 2px;
  font-size: 13px;
  min-height: 0;
}

#window,
#workspaces button,
window#waybar {
  background: alpha(#1a1111, 0.0);
  color: #f0dede;
}

/* ---------- Common Button Styling ---------- */
#mpris,
#pulseaudio,
#custom-dunst,
#battery,
#language,
#window,
#clock,
#workspaces button {
  margin: 1px 2px;
  padding: 4px 12px;
  border: 1px solid;
  border-radius: 4px;
  font-weight: 600;
  background: alpha(#1a1111, 0.9);
}

/* ---------- Workspaces ---------- */
#workspaces button.active {
  background-color: #f0dede;
  color: #1a1111;
  border: 0;
}

#workspaces button.empty {
  border: 0;
}

/* ---------- Window Title ---------- */
#window {
  font-weight: 400;
}

/* ---------- Clock ---------- */
#clock {
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 25px;
    padding: 0px 12px;
  background: alpha(#1a1111, 0.9);
}

/* ---------- Media Player ---------- */
#mpris.paused {
  opacity: 0.65;
}

/* ---------- Tooltips ---------- */
tooltip {
  border-radius: 12px;
  padding: 10px;
}

/* ---------- Language ---------- */
#language {
    font-size: 15px;
}
