/* ---------- Global ---------- */
* {
  margin: 1px 2px;
  font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font", sans-serif;
  font-size: 13px;
  min-height: 0;
}

#window,
#workspaces button,
window#waybar {
    background-color: #1a1111;
    color: #f0dede;
}

/* ---------- Workspaces ---------- */
#workspaces {
}

#mpris,
#pulseaudio,
#custom-dunst,
#mpris:hover,
#battery,
#pulseaudio:hover,
#language,
#window,
#workspaces button {
  padding: 4px 12px;
  border: 1px solid;
  border-radius: 4px; 
  font-weight: 600;
}

#workspaces button:hover {
}

#workspaces button.active {
  background-color: #f0dede;
  color: #1a1111;
  border: 0px;
}

#workspaces button.empty {
  border: 0px;
}

/* ---------- Window Title ---------- */
#window {
  font-weight: 400;
}

/* ---------- Clock ---------- */
#clock {
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 25px;
  padding: 0;
  border: 0;
  border-radius: 0; 
}

/* ---------- Media Player ---------- */
#mpris.paused {
  opacity: 0.65;
}

/* ---------- Audio ---------- */


/* ---------- Tooltips ---------- */
tooltip {
  border-radius: 12px;
  padding: 10px;
}


#language {
  border: 1px solid;
  border-radius: 4px; 
}
